/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { 
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}
/* banner */
.banner{
    width: 1440px;
    height: 652px;
    margin-left: 32px;
    margin-top: 22px;
    background-image: url('assets/Hero-bg.png');
}
.banner-img{
    margin-left: 620px;
    margin-top: 32px;
}
h1{
    margin-left: 320px;
    margin-top: 22px;
}
.banner-p{
    margin-left: 320px;
    margin-top: 22px;
}
.btn{
    margin-left: 700px;
    width: 155px;
    height: 45px;
    border-radius: 8px;
    background-color: #0D1321;
    color:floralwhite ;
    margin-top: 60px;
    font-size: 15px;
}
/* body main 1 */
.main-1 {
    margin: 25px 50px 75px 50px;
}
 
 .web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .web1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 50px 75px 50px;
 }

/* .web3{
    width: 450px;
    height:530px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 50px 75px 100px;
} */
.layer { 
    display: flex;
    flex-direction: row; 
    margin: 25px 50px 75px 50px;
}
    
.Group{
    display: flex;
    flex-direction: row;
    margin: 25px 50px 75px 50px;
    
}
.Group4{
    display: flex;
    flex-direction: row;
    margin: 25px 50px 75px 50px;
}
.Inspiration{
    display: flex;
    flex-direction:column;
    width:1176px;
    height: 710px;
    justify-content: center;
    align-items: center;
    margin-top: 100
    px;
}
.Inspirationimg{
    border-radius: 10px;
    
    /* width:  1138px;
    height: 774px; */
}
.CurrentTarget{
    width: 1140px;
    height: 600px;
    display: grid;
}
.Target{
    display: flex;
    flex-direction:column;
    
    justify-content: center;
    align-items: center;
}
.Targetimg{
    height: 300px;
    grid-template-rows: 1 1fr;

}
.Targetimg1 {
    display: flex;
    flex-direction:column;
    background-color:#F4E3DC ;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.Targetimg2 {
    display: flex;
    flex-direction:column;
    background-color: #DCEEF4 ;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.Targetimg3 {
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    background-color: #E6EBDA ;
    justify-content: center;
    align-items: center;
}
.Targetimg {
    display: flex;
    flex-direction:row;
    
    justify-content: center;
    align-items: center;
}


 

   /* lastpart */
.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url('assets/handshake.jpg') ;
    background-size: 100% 100%;   
    border-radius: 10px;
    width: 1226px;
    height: 279px;
    margin-left: 100px;
    color: azure;

}
.last1 p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; 
    margin-top: 30px;

}
/* .last1input{
    border-radius: 2px;
    width:1111px ;
    height: 100px;
} */

#about{
    display: flex;
    justify-content:flex-end;
    
}
.footer{
    width:1440px ;
    height:50px ;
    background-color: beige;
}
